@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
:root {
  --main-blue: #0779e4;
  --main-white: #fff;
  --main-grey: #ecf3ff;
}
* {
  margin: 0;
  padding: 0;
}
body {
  font-family: 'Montserrat', sans-serif;
}
.App-link {
  color: #61dafb;
}
